/* 
    component별로 css파일을 만들고 싶으면 component와 같은 
    이름으로 한다.
*/
.btn {
    margin: auto;
    border-radius: 9999px;
    border: none;
    display: block;
    width: 120px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: pink;
}